//
// breadcrumb.scss
//

// Breadcrumb item arrow
.breadcrumb-item {
    >a {
        color: var(--#{$prefix}body-color);

        &:hover {
            color: $primary;
        }
    }

    +.breadcrumb-item {
        &::before {
            font-family: "remixicon";
        }
    }
    

    &.active {
        color: $breadcrumb-active-color;
    }
}
html[dir="rtl"] .breadcrumb-item  +.breadcrumb-item{
 &::before {
           float: unset;
        }
}