<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div class="row g-3">

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.NAME_AR' | translate }}</label>
      <input type="text" formControlName="name" class="form-control"
        [placeholder]="'CUSTOMER.PLACEHOLDER.NAME_AR' | translate" />
      <small
        *ngIf="customerForm.get('nameAr')?.hasError('required') && (customerForm.get('nameAr')?.touched || customerForm.get('nameAr')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.NAME_AR_REQUIRED' | translate }}
      </small>
      <small
        *ngIf="customerForm.get('nameAr')?.hasError('minlength') && (customerForm.get('nameAr')?.touched || customerForm.get('nameAr')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.NAME_AR_MINLENGTH' | translate }}
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.NAME_EN' | translate }}</label>
      <input type="text" formControlName="nameEN" class="form-control"
        [placeholder]="'CUSTOMER.PLACEHOLDER.NAME_EN' | translate" />

      <small
        *ngIf="customerForm.get('nameEn')?.hasError('required') && (customerForm.get('nameEn')?.touched || customerForm.get('nameEn')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.NAME_EN_REQUIRED' | translate }}
      </small>
      <small
        *ngIf="customerForm.get('nameEn')?.hasError('minlength') && (customerForm.get('nameEn')?.touched || customerForm.get('nameEn')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.NAME_EN_MINLENGTH' | translate }}
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.NATIONAL_ID' | translate }}</label>
      <input type="text" formControlName="nationalId" class="form-control"
        [placeholder]="'CUSTOMER.PLACEHOLDER.NATIONAL_ID' | translate" />

      <small
        *ngIf="customerForm.get('nationalId')?.hasError('required') && (customerForm.get('nationalId')?.touched || customerForm.get('nationalId')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.NATIONAL_ID_REQUIRED' | translate }}
      </small>

      <small
        *ngIf="customerForm.get('nationalId')?.hasError('minlength') && (customerForm.get('nationalId')?.touched || customerForm.get('nationalId')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.NATIONAL_ID_PATTERN' | translate }}
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.COUNTRY' | translate }}</label>
      <select formControlName="country" class="form-select">
        <option value="">{{ 'CUSTOMER.SELECT_COUNTRY' | translate }}</option>
        <option value="Egypt">{{ 'CUSTOMER.COUNTRY_EG' | translate }}</option>
        <option value="United States">{{ 'CUSTOMER.COUNTRY_US' | translate }}</option>
        <option value="United Kingdom">{{ 'CUSTOMER.COUNTRY_UK' | translate }}</option>
        <option value="France">{{ 'CUSTOMER.COUNTRY_FR' | translate }}</option>
      </select>
      <small
        *ngIf="customerForm.get('country')?.hasError('required') && (customerForm.get('country')?.touched || customerForm.get('country')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.COUNTRY_REQUIRED' | translate }}
      </small>
    </div>

    <div class="col-md-6" *ngIf="customerForm.get('country')?.value?.toLowerCase() !== 'sa'">
      <label class="form-label">{{ 'CUSTOMER.PASSWORD' | translate }}</label>
      <input type="password" formControlName="password" class="form-control"
        [placeholder]="'CUSTOMER.PLACEHOLDER.PASSWORD' | translate" />
      <small
        *ngIf="customerForm.get('password')?.hasError('required') && (customerForm.get('password')?.touched || customerForm.get('password')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.PASSWORD_REQUIRED' | translate }}
      </small>

      <small
        *ngIf="customerForm.get('password')?.hasError('minlength') && (customerForm.get('password')?.touched || customerForm.get('password')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.PASSWORD_MINLENGTH' | translate }}
      </small>

      <small
        *ngIf="customerForm.get('password')?.hasError('pattern') && (customerForm.get('password')?.touched || customerForm.get('password')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.PASSWORD_PATTERN' | translate }}
      </small>
    </div>

    <div class="col-md-6" *ngIf="customerForm.get('country')?.value?.toLowerCase() === 'sa'">
      <label class="form-label">{{ 'CUSTOMER.NAFATH' | translate }}</label>
      <input type="text" formControlName="nafathSub" class="form-control"
        [placeholder]="'CUSTOMER.PLACEHOLDER.NAFATH' | translate" />
      <small
        *ngIf="customerForm.get('nafathSub')?.hasError('required') && (customerForm.get('nafathSub')?.touched || customerForm.get('nafathSub')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.NAFATH_REQUIRED' | translate }}
      </small>
      <small
        *ngIf="customerForm.get('nafathSub')?.hasError('minlength') && (customerForm.get('nafathSub')?.touched || customerForm.get('nafathSub')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.NAFATH_PATTERN' | translate }}
      </small>


    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.EMAIL' | translate }}</label>
      <input type="email" formControlName="email" class="form-control"
        [placeholder]="'CUSTOMER.PLACEHOLDER.EMAIL' | translate" />
      <small
        *ngIf="customerForm.get('email')?.hasError('required') && (customerForm.get('email')?.touched || customerForm.get('email')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.EMAIL_REQUIRED' | translate }}
      </small>
      <small
        *ngIf="customerForm.get('email')?.invalid && (customerForm.get('email')?.touched || customerForm.get('email')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.EMAIL_INVALID' | translate }}
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.PHONE' | translate }}</label>
      <input type="text" formControlName="phone" class="form-control"
        [placeholder]="'CUSTOMER.PLACEHOLDER.PHONE' | translate" />

      <small *ngIf="
      customerForm.get('phone')?.hasError('required') &&
      (customerForm.get('phone')?.touched || customerForm.get('phone')?.dirty)
    " class="text-danger">
        {{ 'CUSTOMER.ERROR.PHONE_REQUIRED' | translate }}
      </small>

      <small *ngIf="
      customerForm.get('phone')?.hasError('pattern') &&
      (customerForm.get('phone')?.touched || customerForm.get('phone')?.dirty)
    " class="text-danger">
        {{ 'CUSTOMER.ERROR.PHONE_PATTERN' | translate }}
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.IBAN' | translate }}</label>
      <input type="text" formControlName="iban" class="form-control"
        [placeholder]="'CUSTOMER.PLACEHOLDER.IBAN' | translate" />
      <small
        *ngIf="customerForm.get('iban')?.hasError('required') && (customerForm.get('iban')?.touched || customerForm.get('iban')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.IBAN_REQUIRED' | translate }}
      </small>

      <small
        *ngIf="customerForm.get('iban')?.hasError('pattern') && (customerForm.get('iban')?.touched || customerForm.get('iban')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.IBAN_PATTERN' | translate }}
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.NATIONAL_ID_IMAGE' | translate }}</label>
      <input type="file" (change)="onFileSelected($event, 'nationalIdImageUrl')" class="form-control" />
      <small
        *ngIf="customerForm.get('nationalIdImageUrl')?.hasError('required') && (customerForm.get('nationalIdImageUrl')?.touched || customerForm.get('nationalIdImageUrl')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.NATIONAL_ID_IMAGE_REQUIRED' | translate }}
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.IBAN_IMAGE' | translate }}</label>
      <input type="file" (change)="onFileSelected($event, 'ibanImageUrl')" class="form-control" />
      <small
        *ngIf="customerForm.get('ibanImageUrl')?.hasError('required') && (customerForm.get('ibanImageUrl')?.touched || customerForm.get('ibanImageUrl')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.IBAN_IMAGE_REQUIRED' | translate }}
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.PROFILE_IMAGE' | translate }}</label>
      <input type="file" (change)="onFileSelected($event, 'profileImage')" class="form-control" />
      <small
        *ngIf="customerForm.get('profileImage')?.hasError('required') && (customerForm.get('profileImage')?.touched || customerForm.get('profileImage')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.PROFILE_IMAGE_REQUIRED' | translate }}
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.STATUSS' | translate }}</label>
      <select formControlName="status" class="form-select">
        <option value="confirmed">{{ 'CUSTOMER.STATUS_CONFIRMED' | translate }}</option>
      </select>
      <small
        *ngIf="customerForm.get('status')?.hasError('required') && (customerForm.get('status')?.touched || customerForm.get('status')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.STATUS' | translate }}
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'CUSTOMER.ROLE' | translate }}</label>
      <select formControlName="role" class="form-select">
        <option value="user">{{ 'CUSTOMER.ROLE_USER' | translate }}</option>
        <option value="admin">{{ 'CUSTOMER.ROLE_ADMIN' | translate }}</option>
        <option value="investor">{{ 'CUSTOMER.ROLE_INVESTOR' | translate }}</option>
        <option value="buyer">{{ 'CUSTOMER.ROLE_BUYER' | translate }}</option>
      </select>
      <small
        *ngIf="customerForm.get('role')?.hasError('required') && (customerForm.get('role')?.touched || customerForm.get('role')?.dirty)"
        class="text-danger">
        {{ 'CUSTOMER.ERROR.ROLE' | translate }}
      </small>
    </div>
  </div>

  <div class="mt-3 text-end">
    <button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">
      {{ 'CUSTOMER.CREATE' | translate }}
    </button>
  </div>
</form>