@import "nouislider/dist/nouislider.css";
@import "ngx-toastr/toastr";
@import "flatpickr/dist/flatpickr.css";
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";
@import "../public/assets/scss/app.scss";
@import "../public/assets/scss/icons.scss";
